{% extends 'base.html' %}
{% block title %}Contact - {{ block.super }}{% endblock %}

{% block content %}
<div class="container pt-5">
<div class="row">
    <div class="col-md-12">
        <h5>Contact</h5>
    </div>
</div>
<!--<div class="row">
    <div class="col-md-2">
        <h5>Tel:</h5>
    </div>
    <div class="col-md-3">
        <h5>796845258</h5>
    </div>
</div>-->
<div class="row">
    <div class="col-md-12">
    <form class="form-group" role="form" action="" method="post">
        {% csrf_token %}
        {% load crispy_forms_tags %}
        {{ form |crispy }}
        <button class="btn btn-color" type="submit">Submit</button>
    </form>
    </div>
</div>
</div>
{% endblock %}