{% extends 'base.html' %} {% block content %}

 <div class="container">
  <div class="row">
    <div class="col-md-12 card mb-4  mt-3 left  top">
      <div class="card-body">
        <h1>{% block title %} {{ post.title }} {% endblock title %}</h1>
        <p class=" text-muted">{{ post.author }} | Create: {{ post.created_on }} | Update: {{ post.updated_on }}</p>
        <p class="card-text ">{{ post.content | safe }}</p>
      </div>
    </div>
   
  </div>
  <div class="row">
    <div class="col">
    <p class="h5 text-center">Comments</p>
    </div>
  </div>
  <div class="row"> 	
    {% if user.is_authenticated %}
    <div class="col-md-12">
      <form class="form-group" action="{% url 'blog:post_detail' slug=post.slug %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% load crispy_forms_tags %}
        {{ form |crispy }}
      <input type="submit"  class="btn btn-color" value="Add comment">
      </form>
    </div>
    {% else %}
    <div class="col-md-12">
      <div class="comment" style="font-weight: bold">
        <p><a href="{% url 'accounts:login' %}" >Log in</a> in to add comment</p>
      </div>
    </div>
    {% endif %}
  </div>
  <div class="row">
    {% for comment in comments %}
      <div class="col-md-12 card mb-4  mt-3 left  top">
        
        <div class="card-body">
            <p class="card-text ">{{ comment.content }}</p>
            <p class=" text-muted">{{comment.author.username}} | {{ comment.created_on }}</p>
          </div>
        </div>
        {% endfor %}
  </div>
</div>


{% endblock content %}