{% block sidebar %}

<style>
        .card{
            box-shadow: 0 16px 48px #E3E7EB;
        }
       
</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
<div class="card my-4">
    <img src="../media/DSC_0680.JPG" alt="Photo" class="card-img-top" >
        
    <div class="card-body">
        <h5 class="card-title">About Me</h5>
        <p class="card-text">Hello! My name is Anna. I am student on Poznań University of Technology. I love traveling. On this site i will publish a summary of my adventures, but not only. If you want to join me, please register.</p>
        <!-- TODO - ikonki fb instagrama itp -->
    </div>
</div>
</div>

{% endblock sidebar %}